@page
@model TrustDotNEt.Pages.HttpClientModel
@{
    ViewData["Title"] = "HTTP Client with Dependency Injection";
}

<div class="text-center">
    <h1 class="display-4">HTTP Client Dependency Injection</h1>
    @Model.HASH
</div>
