@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/HttpClient">HTTP Client</a> <br />
    <a href="/HttpClientError">HTTP Client (fails)</a> <br />
    <a href="/WebRequest">WebRequest</a> <br />
</div>
